# cool right :)

In [3]:
from data.extract.extract_flow import extract
df = extract()
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [4]:
from data.transform.transform_flow import transform
synthetic_df = transform(df) 
synthetic_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),sepal length/sepal width,sepal length/petal length,sepal length/petal width,sepal width/petal length,sepal width/petal width,petal length/petal width,target
0,5.100000,3.500000,1.400000,0.200000,1.457143,3.642857,25.500000,2.500000,17.500000,7.000000,0
1,4.900000,3.000000,1.400000,0.200000,1.633333,3.500000,24.500000,2.142857,15.000000,7.000000,0
2,4.700000,3.200000,1.300000,0.200000,1.468750,3.615385,23.500000,2.461538,16.000000,6.500000,0
3,4.600000,3.100000,1.500000,0.200000,1.483871,3.066667,23.000000,2.066667,15.500000,7.500000,0
4,5.000000,3.600000,1.400000,0.200000,1.388889,3.571429,25.000000,2.571429,18.000000,7.000000,0
...,...,...,...,...,...,...,...,...,...,...,...
244,6.300000,3.347453,5.810188,2.452547,1.882028,1.084302,2.568758,0.576135,1.364888,2.369042,2
245,6.891743,3.095872,5.104128,2.300000,2.226108,1.350229,2.996410,0.606543,1.346031,2.219186,2
246,7.656683,3.453467,6.656683,2.156683,2.217101,1.150225,3.550212,0.518797,1.601286,3.086537,2
247,6.058243,3.000000,4.941757,1.800000,2.019414,1.225929,3.365691,0.607072,1.666667,2.745420,2
248,6.400000,2.933010,5.555663,1.966990,2.182059,1.151978,3.253702,0.527932,1.491116,2.824449,2